.signupFormWrapper {
  width: 60%;
  margin: 0 auto;
}

.signupContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
}

.signupForm {
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.signupContainer button {
  margin-top: 2rem;
}
